html,body{
	height: 100% !important;
	width: 100% !important;
	background-image: url('../img/fondo/cool-background.png');
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
	font-family: "Sevillana", cursive !important;
	font-size: 20px;
}

.logo {
	padding: 5rem 0rem 5rem 0rem;
}

#enc-des {
	padding-left: 10px;
	width: 300px;
	border-radius: 10px;
	border: none;
	background-color:rgb(223 223 223);
}

.boton {
	border: 1px solid #e9d6c6;
	background-color: #7ba9e5;
	border-radius: 1rem;
	margin: 10px 5px 0px 0px;
	width: 120px;
    height: 35px;
}

#respuesta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 350px;
    border: 1px solid black;
    border-radius: 55px;
}

#parrafo{
	font-size: 1.2rem;
    text-align: center;
}


footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

footer p{
	color: black;
}